# Node.js
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Cloudflare Workers
.wrangler
.dev.vars
.DS_Store

# Python
__pycache__
venv
*.pyc

# Local Config
.env
.env.local
*.local

# Project Specific
Profile.pdf
*.pdf
jobs_results.json
jobs_report.md
